.container {
  margin-bottom: -30px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
width: 480px;};
 @include tablet {
width: 768px;};
 @include desctop {
 width: 1200px;}
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;


  color: var(--title-text-color);
  @include desctop {
    margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  }
}
button {
  cursor: pointer;
  display: block;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
