.header-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  @include tablet {
    height: 80px;
  }

}


/* Site-nav */
.nav__item {
  &:not(:last-child) {margin-right: 32px;
  @include desctop {margin-right:50px; };};
//   margin-right: 50px;
//   &:last-child {
//     @include tablet{margin-right:90px};
//     @include desctop
//   {margin-right: 314px;}
// }

}

.nav {
  display: flex;
}
.nav__list {
  display: none;
  // display: flex;
  @include tablet {
    display: flex;
    
  }
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--time-function);
  .nav &:hover,
.nav &:focus {
  color: var(--accent-text-color);
}
}


.box-studio::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}
/* contacts */

