
.logo {
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: Raleway, var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-text-color);
  margin-right: 93px;
}
.logo-studio {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-studio-color);
}