.header-portfolio {
  border-bottom: 1px solid var(--header-border-color);
}
.box-portfolio::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}
.container-buttons {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.current {
  color: var(--accent-text-color);
}

.portfolio-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--button-background-color);
  letter-spacing: 0.03em;
  transition: box-shadow var(--time-function), background-color var(--time-function),
    color var(--time-function);
    &:hover,
&:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-text-color);
  color: var(--hero-text-color);
}
}



.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-list {
  width: 370px;
}

.portfolio-card {
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: 0px;
}
.card-link {
  display: block;
  transition: box-shadow var(--time-function);

&:hover,
&:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    &:hover .gallery-top-text,
&:focus .gallery-top-text {
  transform: translateY(0%);
}
}
}


.portfolio-titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-item {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.gallery-top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--hero-text-color);
  transform: translateY(100%);
  transition: var(--time-function);
}
.box-gallery {
  position: relative;
  overflow: hidden;
}
